/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: #dfdddd !important;
    /* background: url("./assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: Roboto !important;
}